/**/
.plan-list {
  border-top: none;
  background-image: none !important;
}

.plan {
  padding-top: 0;
  padding-bottom: 0;
}

.plan-left {
  text-align: center;
  padding: 20px 10px 10px 0;
}

.plan-center {
  background-color: #3399ff;
  opacity: 0.5;
}

.plan-right {
  padding: 8px 40px 8px 10px;
}

.plan-date {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 4px;
  font-weight: 500;
}

.plan-duration {
  font-size: 11px;
  opacity: 0.4;
}

.plan-name {
  font-size: 17px;
  margin-bottom: 8px;
}

.plan-info {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.4;
}

.plan-icon {
  width: 12px;
  margin-right: 2px;
}


/*rank board css*/
.rank-text {
  font-size: 16px;
  opacity: 0.4;
}
.rank-number {
  font-size: 24px;
}
.rank-left {
  text-align: center;
}
.contact-initials {
  color: #9E9E9E;
  font-weight: 400;
  font-size: 20px;
}

.list__item__center {
  padding-left: 16px;
}


.animation-swipe-right {
  pointer-events: none;
  -webkit-animation: swipe-right .9s ease-in-out forwards;
          animation: swipe-right .9s ease-in-out forwards;
}

.animation-swipe-left {
  pointer-events: none;
  -webkit-animation: swipe-left .9s ease-in-out forwards;
          animation: swipe-left .9s ease-in-out forwards;
}
.hide-children * {
  overflow: hidden;
}
